<hr class="flourishes">

<p>
You can e-mail your comments and feedback
to <code>{{ site.mail }}</code>.

<p>
Return to <a href="{{ site.baseurl }}">Porneia delights' home
page</a>.

<p>
Vulnerant omnes, ultima necat. Sic transit hominis regnum.<br>
Copyleft &copy; 2003-2013
&mdash; <a href="{{ site.baseurl }}/">Porneia delights</a>

<p>
Verbatim copying and redistribution of this page are permitted provided
this notice is preserved.

<hr class="flourishes">

<p class="footer">
<img src="{{ site.baseurl }}/img/addict.png" alt="[addict]">
<img src="{{ site.baseurl }}/img/emacs.png" alt="[emacs]">
<img src="{{ site.baseurl }}/img/hacker.png" alt="[hacker]">
<img src="{{ site.baseurl }}/img/datalove.png" alt="[datalove]">
<img src="{{ site.baseurl }}/img/prostate.png" alt="[prostate]">
<img src="{{ site.baseurl }}/img/psychology.png" alt="[psychology]"><br>
<img src="{{ site.baseurl }}/img/slackware.png" alt="[slackware]">
<img src="{{ site.baseurl }}/img/gnu.png" alt="[gnu]">
<img src="{{ site.baseurl }}/img/linux.png" alt="[linux]">
<img src="{{ site.baseurl }}/img/any_browser.png" alt="[any_browser]">
<img src="{{ site.baseurl }}/img/ut8.png" alt="[ut8]">
<a href="http://validator.w3.org/check?uri=http%3A%2F%2Fporneia.free.fr%2Fpub%2F"><img src="{{ site.baseurl }}/img/w3c_html5.png" alt="[w3c_html5]"></a>
<a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fporneia.free.fr%2Fpub%2F"><img src="{{ site.baseurl }}/img/w3c_css.png"
alt="[w3c_css]"></a>
