<!DOCTYPE HTML>
<html>
<head>
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
{% capture description %}{% if page.description %}{{ page.description }}{% endif %}{% endcapture %}{% if page.description %}<meta name="description" content="{{ description | strip_html | condense_spaces }}">{% endif %}
{% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
<meta name="robots" content="index, follow">
<link rel="stylesheet" href="{{ site.baseurl }}/general.css" type="text/css">
<link rel="stylesheet" href="{{ site.baseurl }}/syntax.css" type="text/css">
<link rel="stylesheet" href="{{ site.baseurl }}/gh-fork-ribbon.css" type="text/css">
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="alternate" type="application/rss+xml" title="Porneia delights' log RSS" href="{{ site.baseurl }}{{ site.subscribe_rss }}">
</head>

<body>

<div class="github-fork-ribbon-wrapper right">
  <div class="github-fork-ribbon">
    <a href="{{ site.baseurl }}/"><i class="fa fa-home"></i> Porneia
    delights</a>
  </div>
</div>

{{ content }}

</body>
</html>
